mixin cardsRoom(img_0, number, cost, reviews, lux, ratingStars)
    .cards
        a.cards__link(href="./roomDetails.html")
        .carousel.cards__carousel(id="slides" data-ride="carousel")
            ol.carousel-indicators
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
                <li data-target="#slides" data-slide-to="3"></li>
            .carousel-inner
                .carousel-item.active
                    img(src=img_0)
                //- .carousel-item
                //-      img(src=img_1)
                //- .carousel-item
                //-      img(src=img_2)
                //- .carousel-item
                //-      img(src=img_3)
            a.carousel-control-prev(href="#slides" role="button" data-slide="prev")
                i.material-icons.carousel__icons_prev keyboard_arrow_left
            a.carousel-control-next(href="#slides" role="button" data-slide="next")
                i.material-icons.carousel__icons_next keyboard_arrow_right    
        .cards__number-and-cost
            p.cards__number № <span class = "cards__number-room">#{number}</span> <span class = "cards__lux">#{lux}</span>
            p.cards__cost  <span class= "cards__room-cost">#{cost}</span> в сутки 
        .cards__rating-and-reviews
            .cards__rating
                - for (var x = 0; x < ratingStars; x++)
                    i.material-icons.cards__icons_rating star     
                - for (var x = ratingStars; x < 5; x++)
                    i.material-icons.cards__icons_rating star_border
            p.cards__reviews <span class= "cards__room-reviews">#{reviews}</span> Отзывов