mixin checkbox(id_, for_, content, discription, checked_)
    .checkbox
        input.checkbox__input(type="checkbox", id=id_, checked=checked_)
        label.checkbox__label(for=for_) #{content}
        p #{discription}