//- mixin dropdown(class_, name_, content1, content2, content3)
//-     .select(class=class_)
//-         .slct 
//-             p #{name_}
//-             i.material-icons.dropdown-icon(id = "dropdown-icon") expand_more
//-         .dropdown-child
//-             .dropdown-item
//-                 p #{content1}
//-                 include ../includes/quantityBlock
//-             .dropdown-item
//-                 p #{content2}
//-                 include ../includes/quantityBlock
//-             .dropdown-item
//-                 p #{content3}
//-                 include ../includes/quantityBlock
//-         <input type="hidden" id="select" /> 

.select(id="myform")
    .slct 
        p Сколько гостей 
        i.material-icons.dropdown-icon(id = "dropdown-icon") expand_more
    .dropdown-child
        .dropdown-item
            p Взрослые
            include ../quantityBlock/quantityBlock
        .dropdown-item
            p   Дети
            include ../quantityBlock/quantityBlock
        .dropdown-item
            p Младенцы
            include ../quantityBlock/quantityBlock
        a.reset(href="#") Очистить
        a.save(href="#") Применить
    <input type="hidden" id="select" />
    
    //- a href="javascript:void(0);
