//- mixin dropdown(class_, name_, content1, content2, content3)
//-     .select(class=class_)
//-         .slct 
//-             p #{name_}
//-             i.material-icons.dropdown-icon(id = "dropdown-icon") expand_more
//-         .dropdown-child
//-             .dropdown-item
//-                 p #{content1}
//-                 include ../includes/quantityBlock
//-             .dropdown-item
//-                 p #{content2}
//-                 include ../includes/quantityBlock
//-             .dropdown-item
//-                 p #{content3}
//-                 include ../includes/quantityBlock
//-         <input type="hidden" id="select" /> 

.dropdown(id="myform")
    .dropdown__select 
        p Сколько гостей 
        i.material-icons.dropdown__icon expand_more
    .dropdown__child
        .child__item
            p Взрослые
            include ../quantityBlock/quantityBlock
        .child__item
            p   Дети
            include ../quantityBlock/quantityBlock
        .child__item
            p Младенцы
            include ../quantityBlock/quantityBlock
        .dropdown__lincks
            a.lincks__reset(href="#") Очистить
            a.lincks__save(href="#") Применить
    <input type="hidden" id="select" />
    
    //- a href="javascript:void(0);
